{% extends 'base.html.twig' %}

{% block title %}Accueil du site
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<!-- debut introduction-->
		<section class="introduction">

			<div class="image_introduction"></div>
			<div class="container_introduction">

				{% for item in introduction %}


					<p class="text_description">{{item.description}}</p>
					<div>
						{% for item in item.SousDescription %}
							<p>{{item.text}}</p>
							{% endfor%}
						</div>

						<a href="">
							<div class="bouton_introduction">en savoir plus</div>
						</a>
					{% endfor %}
				</div>
		</section>
		<!--fin introduction-->
		<!--debut section video-->
		<section class="video">
			{% for item in video %}
				<h3>{{item.titre}}</h3>
				<div class="decoration_h3"></div>
				<div class="container_video">
					<iframe width="560" height="315" src="{{item.getLienVideo()}}+?playlist=ApL2PgLBjes&loop=1&rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1" width="560" height="315" frameborder="0" allowfullscreen></iframe>
				</div>
			{% endfor %}
		</section>
		<!--fin section video-->
		<!--debut section service-->
		<section id="section_service" class="service">
			<h3>Nos services</h3>
			<div class="decoration_h3"></div>

			<div class="container_service">
				<div class="container_icones_bulle">
					<div class="container_icone_service">
						<!--liste des icones-->
						{% for item in service %}
							<div class="container_icone" onmouseover="description_service(`{{item.id}}`, `{{item.titre}}`, `{{item.description}}`)">
								<img class=" icone" id={{item.id}} src=" {{item.lien}} " alt=" icone a2mi">
							</div>
						{% endfor %}
						{% set firstItem = service[0] %}
					</div>

					<div class="bulle">
						<div class="triangle_bulle" id="triangle"></div>
						<div class="contenue_bulle">
							<!--contenue de la bulle-->
							<div>
								<h5 id="titre_service">{{firstItem.titre}}</h5>
								<p id="description_service">{{firstItem.description}}</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<!--fin section service -->
		<!--debut section echo-mer 03/05/2023-->

		<section class="echo-mer">
			{% for item in echoMer %}
				<div>
					<img class="image-echo-mer"id={{item.id}} src="{{item.image}}" alt="image Echo-mer">
				</div>
				<div>
					<h6>{{item.titre}}</h6>
					<p>{{item.description}}</p>
					<a  class="bouton_echo-mer" href="{{item.getLienBouton()}}">{{item.getNomBouton()}}</a>
				</div>
				
			{% endfor %}
		</section>
		<!--fin section echo-mer-->

		<!--debut section logo: partenaire et client 03/05/2023-->

	<section class="partenaire-client">
		<h3>Nos partenaires et nos clients</h3>
		<div class="decoration_h3"></div>
		<div id="carouselIndicators" class="carousel slide">
			<!--debut indicateur-->
			<ol class="carousel-indicators">
				<!-- l'attribut data-slide-to="0" indique l'id de l'indicateur .
				j'en ai mit 3 pour tester, afin d'afficher 3 groupes d'element par groupe de 3 images
				-->
				
				{% for items in logo|batch(3, null) %}
				<li data-target="#carouselIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first  %}class="active"{% endif %}></li>
				{% endfor %}
			</ol>
			<!--fin indicateur-->

			<img class="carousel-control-prev" aria-hidden="true" src="{{ asset('icones/section_partenaire_et_client/fleche.svg') }}" alt="fleche A2MI">
			<div class="carousel-inner">
				{% for items in logo|batch(3,null) %}
					<div class="carousel-item {% if loop.first  %}active{% endif %}">
						<div class="row">
							<div class="col-sm">
							{% for item in items %}
								{% if item != null %}
								<img class="img_carousel" src="{{item.image}}"  alt="{{item.image}}">
								{% endif %}
							{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<img class="carousel-control-next" aria-hidden="true" src="{{ asset('icones/section_partenaire_et_client/fleche.svg') }}" alt="fleche A2MI">
		</div>
	</section>

	


<!-- A tester plutard => afficher 3 elements et lorsqu'on clique sur la fleche, faire apparaitre un element au lieu de trois 
elements d'un coup--> 

<!--
	<section>
		<h3>deusieme test carousel!</h3>
		<div class="decoration_h3"></div>
		<div id="carouselIndicators" class="carousel slide">
			
			<ol class="carousel-indicators">
				<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselIndicators" data-slide-to="1"></li>
				<li data-target="#carouselIndicators" data-slide-to="2"></li>
			</ol>

			<img class="carousel-control-prev" aria-hidden="true" src="{{ asset('icones/section_partenaire_et_client/fleche.svg') }}" alt="fleche A2MI">
			<div class="carousel-inner">
				<div class="carousel-item active">
					
							<img class="img_carousel" src="{{ asset('images/accueil/logos_partenaires_clients/exemple_partenaire.jpg') }}" alt="Second slide">
						
				</div>
		
				<div class="carousel-item">
					
					<img class="img_carousel" src="{{ asset('images/accueil/logos_partenaires_clients/exemple_client4.jpg') }}" alt="Third slide">
					
				</div>
			
				<div class="carousel-item">
					
					<img class="img_carousel" src="{{ asset('images/accueil/logos_partenaires_clients/exemple_client3.png') }}" alt="Third slide">
					
				</div>
				<div class="carousel-item">
					
					<img class="img_carousel" src="{{ asset('images/accueil/logos_partenaires_clients/exemple_client5.jpg') }}" alt="Third slide">
					
				</div>
				<div class="carousel-item">
					
					<img class="img_carousel" src="{{ asset('images/accueil/logos_partenaires_clients/exemple_client.png') }}" alt="Third slide">
					
				</div>
			</div>
			<img class="carousel-control-next" aria-hidden="true" src="{{ asset('icones/section_partenaire_et_client/fleche.svg') }}" alt="fleche A2MI">

		</div>
	</section>
	-->

	
	<!--fin section logo: partenaire et client-->
{% endblock %}
